<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<a href="/new"><button type="button">新規投稿</button> </a>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>内容</th>
			<th>削除・編集</th>
			<th>返信</th>
		</tr>

		<tr th:each="content : ${contents}">
			<td th:text="${content.id}">
			<td th:text="${content.content}">
			<form method="post" action="/delete" th:object="${deleteFormModel}">
				<input type="hidden" name="id"  th:value="${content.id}">
				<input type="submit" value="削除">
			</form>
				<a th:href="@{/edit/{id}(id=${content.id})}">
				<button type="button">編集</button></a>
			</td>
			<td>
				<a href="/comment"><button type="button">返信</button></a>
			</td>
		</tr>
	</table>

</body>
</html>